#arrowright {
    background-image: url("../img/arrowup.png");
height:200px;
width:200px;
background-size:200px;
left:87%;
top:5%;
background-repeat:no-repeat;
position:absolute;
}
* {user-select:none;}
#arrowdown {
    background-image: url("../img/arrowodwn.png");
height:200px;
width:200px;
background-size:200px;
left:30%;
top:70%;
background-repeat:no-repeat;
position:absolute;
}
#arrowleft {
  background-image: url("../img/arrowleft.png");
height:200px;
width:200px;
background-size:200px;
left:30%;
top:10%;
background-repeat:no-repeat;
position:absolute;
}
body,
html {
  height: 100%;
  margin: 0;
}
#background {
  background-image: url("../img/hall2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}
